<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MainViewWinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MainViewWinForms.Properties.Settings>
            <setting name="SelectedProperties" serializeAs="String">
                <value>FileName,SampleName,LaneID,Owner,Comments,RlfName,Instrument,CartridgeID,CartridgeBarcode,FovCount,FovCounted,BindingDensity</value>
            </setting>
            <setting name="ImagingThreshold" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="SprintDensityThreshold" serializeAs="String">
                <value>1.8</value>
            </setting>
            <setting name="DaDensityThreshold" serializeAs="String">
                <value>2.25</value>
            </setting>
            <setting name="LinearityThreshold" serializeAs="String">
                <value>0.95</value>
            </setting>
            <setting name="LodSdCoefficient" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CountThreshold" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="MinHKs" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SelectHksMinCount" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SelectHksMinAvgCount" serializeAs="String">
                <value>100</value>
            </setting>
        </MainViewWinForms.Properties.Settings>
    </userSettings>
</configuration>